<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/robot.png" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique repellat at voluptatum numquam libero, quaerat quia cum cumque voluptates reiciendis, pariatur fuga neque, porro recusandae dolorem unde praesentium! Numquam, ipsum?</p>
        <p>Ex occaecat reprehenderit proident excepteur. Esse nulla est cillum qui consectetur voluptate aliqua veniam mollit esse. Sit consectetur laborum exercitation enim eu ea ea et irure sit. Officia eu irure sint pariatur Lorem exercitation eu pariatur culpa. In excepteur aliquip sunt occaecat eiusmod non laboris aute sunt labore. Voluptate veniam aliquip minim ut commodo commodo veniam.</p>
    </div>
    {{>footer}}
</body>
</html>